{% extends "base_admin.html" %}

{% load static %}
{% block title %} Products {% endblock  %}

{% block content %}
<nav class="mb-3" aria-label="breadcrumb">
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}">Dashboard</a></li>
		<li class="breadcrumb-item"><a href="{% url 'products-list-admin' %}">Products</a></li>
		<li class="breadcrumb-item active">Products Category</li>
	</ol>
</nav>
<div class="mb-9">
	<div id="products-category" data-list=''>
		<div class="mb-4">
			<div class="d-flex flex-wrap gap-3">
				<div class="ms-xxl-auto">
					<button class="btn btn-link text-body me-4 px-0"><span class="fa-solid fa-file-export fs-9 me-2"></span>Export</button>
					<a class="btn btn-primary" id="addBtn" href="{% url 'add_category' %}"><span class="fas fa-plus me-2"></span>Add product category</a>
				</div>
			</div>
		</div>
		<div id="tableExample3" data-list='{"valueNames":["name","email","age"],"page":5,"pagination":true}'>
			<div class="search-box mb-3 mx-auto">
				<form class="position-relative"><input class="form-control search-input search form-control-sm" type="search"
						placeholder="Search" aria-label="Search" />
					<span class="fas fa-search search-box-icon"></span>
				</form>
			</div>
			<div class="table-responsive">
				<table class="table table-striped table-sm fs-9 mb-0">
					<thead>
						<tr>
							<th class="sort border-top border-translucent ps-3" data-sort="name">Name</th>
							<th class="sort text-end align-middle pe-0 border-top" scope="col">ACTION</th>
						</tr>
					</thead>
					<tbody class="list">
						{% for category in categories %}
						<tr>
							<td class="align-middle ps-3 name">{{ category.name }}</td>
							<td class="align-middle white-space-nowrap text-end pe-0">
								<div class="btn-reveal-trigger position-static">
									<button
										class="btn btn-sm dropdown-toggle dropdown-caret-none transition-none btn-reveal fs-10" type="button"
										data-bs-toggle="dropdown" data-boundary="window" aria-haspopup="true" aria-expanded="false"
										data-bs-reference="parent"><span class="fas fa-ellipsis-h fs-10"></span>
									</button>
									<div class="dropdown-menu dropdown-menu-end py-2">
										<a class="dropdown-item" href="{% url 'category_details' category.id %}">View</a>
										<a class="dropdown-item" href="{% url 'edit_category' category.id %}">Edit</a>
										<div class="dropdown-divider"></div>
										<form action="{% url 'delete_category' category.id %}" method="post">
											{% csrf_token %}
											<button class="dropdown-item text-danger" type="submit" onclick="return confirm('Are you sure you want to delete this category?')">Remove</button>
										</form>
										
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
						
					</tbody>
				</table>
			</div>
			<div class="d-flex flex-between-center pt-3">
				<div class="pagination d-none"></div>
				<p class="mb-0 fs-9">
					<span class="d-none d-sm-inline-block" data-list-info="data-list-info"></span>
					<span class="d-none d-sm-inline-block"> &mdash; </span>
					<a class="fw-semibold" href="#!" data-list-view="*">
						View all <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
					</a>
					<a class="fw-semibold d-none" href="#!" data-list-view="less">
						View Less <span class="fas fa-angle-right ms-1" data-fa-transform="down-1"></span>
					</a>
				</p>
				<div class="d-flex">
					<button class="btn btn-sm btn-primary" type="button" data-list-pagination="prev"><span>Previous</span></button>
					<button class="btn btn-sm btn-primary px-4 ms-2" type="button" data-list-pagination="next"><span>Next</span></button>
				</div>
			</div>
		</div>	
	</div>
</div>
{% endblock %}