{% extends "base_admin.html" %}

{% load static %}
{% block title %} Add Product {% endblock %}

{% block content %}
<nav class="mb-3" aria-label="breadcrumb">
	<ol class="breadcrumb mb-0">
		<li class="breadcrumb-item"><a href="{% url 'staff_dashboard' %}">Dashboard</a></li>
		<li class="breadcrumb-item"><a href="{% url 'products-list-admin' %}">Products</a></li>
		<li class="breadcrumb-item active">Add New Product</li>
	</ol>
</nav>
<form class="mb-9">
	<div class="row g-3 flex-between-end mb-5">
		<div class="col-auto">
			<h2 class="mb-2">Add a product</h2>
		</div>
	</div>
	<div class="mb-3">
		<label class="form-label" for="basic-form-name">Product Name</label>
		<input class="form-control" id="basic-form-name" type="text" placeholder="Name" />
	</div>
	<div class="mb-3">
		<label class="form-label" for="basic-form-gender">Category</label>
		<select class="form-select" id="basic-form-gender" aria-label="Default select example">
			<option selected="selected">Select product category</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
			<option value="other">Other</option>
		</select>
	</div>
	<div class="mb-3">
		<label class="form-label" for="basic-form-password">Price</label>
		<input class="form-control" id="basic-form-password" type="number" placeholder="$" />
	</div>
	<div class="mb-3">
		<label class="form-label">Product Image</label>
		<input class="form-control" type="file" />
	</div>
	<div class="mb-3">
		<label class="form-label" for="basic-form-textarea">Description</label>
		<textarea class="form-control" id="basic-form-textarea" rows="3" placeholder="Description"></textarea>
	</div>
	<div class="mb-3 form-check">
		<input class="form-check-input" id="basic-form-checkbox" type="checkbox" />
		<label class="form-check-label" for="basic-form-checkbox">Publish Product</label>
	</div>
	<div class="col-auto">
		<a class="btn btn-warning me-2 mb-2 mb-sm-0" href="{% url 'products-list-admin' %}">Cancel</a>
		<button class="btn btn-primary me-2 mb-2 mb-sm-0" type="submit">Save</button>
	</div>
	<!-- <button class="btn btn-primary" type="submit">Submit</button> -->
</form>
{% endblock %}